 /*
 Document Layout:

 Element Selectors (a,p,h1 etc..)
 Classes (Alphabetical Order)
 Ids
 Keyframes
 Media Screen
 
 */

 * {
     -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
     -o-transition: all 0.5s ease-in-out;
     transition: all 0.5s ease-in-out;
     scroll-behavior: smooth;
     box-sizing: border-box;
     border-radius: 10px;
 }

 :root {
     --transition-vertical-pos: 800px;
 }





 body::-webkit-scrollbar {
     display: none;
 }

 body {
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
 }

 h1 {
     background: rgba(0, 0, 0, 0.5);
     padding: 10px;
     font-size: 48px;
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.466);
 }

 h2 {
     font-size: 32px;
 }

 button {
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.466);
 }

 img {
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.466);
 }

 iframe {
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.466);
 }

 li {
     position: relative;
     text-align: center;
     padding: 0;
 }

 footer {
     bottom: 0;
     left: 0;
     right: 0;
     width: 100vw;
     height: auto;
     background-color: #555;
     color: #fff;
     padding-top: 50px;
     border-radius: 0;
 }


 /*Menu Has to go here as stylesheets are read line by line and dropdown is overwirtten*/
 .Menu {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.466);
}

.Menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.Menu a:hover {
    background-color: #ddd;
    color: black;
}

.Menu a.active {
    background-color: #50C878;
    color: white;
}

.Menu button {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    background-color: #50C878;
    border: none;
}

.Menu button:hover {
    background-color: #50C878b6;
    color: black;
}

.Menu .icon {
    display: none;
}

 .alert {
     padding: 20px;
     background-color: #f44336;
     color: white;
 }


 .andrioddownloadbtn {
     display: none;
     background-color: #50C878;
     border: none;
     color: white;
     padding: 12px 30px;
     cursor: pointer;
     font-size: 20px;
 }

 .awnserContent {
     padding: 0;
     height: auto;
     color: #ddd;
     font-size: 0;
     position: inherit;
     background-color: rgb(129, 125, 125);
     min-width: 160px;
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.466);
     z-index: 1;
     transition: 0.2s;
     border-radius: 0;
     width: 90%;
     margin-left: 5%;
 }


 .additionalLinksCSS {
     display: none !important;
 }

 .additionalLinksCSSActive {
     display: none !important;
     background-color: #50C878;
     color: white;
 }

 .anim-top {
     position: relative;
     animation: slidetop 0.4s
 }


 .anim-right {
     position: relative;
     animation: slideright 0.4s
 }

 .anim-left {
     position: relative;
     animation: slideleft 0.4s
 }


 .anim-bottom {
     position: relative;
     animation: slidebottom 0.4s
 }

 .anim-zoom {
     animation: slidezoom 0.6s
 }


 .bpandimg {
     font-size: 32px;
 }

 .breiftext {
     font-size: 32px;
     padding: 10%;
 }

 .breiflink {
     font-size: 32px;
     padding: 0%;
 }


 .closebtn {
     margin-left: 15px;
     color: white;
     font-weight: bold;
     float: right;
     font-size: 22px;
     line-height: 20px;
     cursor: pointer;
     transition: 0.3s;
 }

 .closebtn:hover {
     color: black;
 }

 .column {
     float: left;
     width: 50%;
     padding: 5px;
 }

 .center {
     text-align: center;
 }


 .dropdown {
     float: left;
     overflow: hidden;
 }

 .dropdown .dropdownbutton {
     font-size: 17px;
     border: none;
     outline: none;
     color: white;
     padding: 14px 16px;
     background-color: inherit;
     font-family: inherit;
     margin: 0;
 }

 .dropdown-content {
     display: none;
     position: absolute;
     background-color: #555;
     min-width: 160px;
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
     z-index: 1;
 }

 .dropdown-content a {
     float: none;
     color: white;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
 }

 .Menu a:hover,
 .dropdown:hover,
 .dropdownbutton,
 .downloadbtn:hover,
 .andrioddownloadbtn:hover {
     background-color: #555;
     color: white;
 }

 .dropdown-content a:hover {
     background-color: #ddd;
     color: black;
 }

 .dropdown:hover .dropdown-content {
     display: block;
 }


 .downloadbtn,
 .launchbtn {
     background-color: #50C878;
     border: none;
     color: white;
     padding: 12px 30px;
     cursor: pointer;
     font-size: 20px;
 }

 .download_button {
     padding: 5%;
 }

 .download_button button {
     width: 100%;
 }


 .footer-content {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
 }

 .footer-content marquee {
     font-size: 32px;
     font-weight: 300;
     text-transform: capitalize;
 }

 .footer-content p {
     max-width: 500px;
     margin: 10px auto;
     font-size: 14px;
 }

 .footer-social {
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 10px 0 30px 0;
 }

 .footer-social li {
     margin: 0 10px;
 }

 .footer-social a {
     text-decoration: none;
     color: #ddd;
     border-radius: 50%;
     padding: 5px;
     border: 5px solid white;
 }

 .footer-social a i {
     font-size: 1rem;
 }

 .footer-social a:hover i {
     color: #50C878;
 }

 .footer-download {
     align-items: center;
 }

 .hidden {
     opacity: 0;
 }

 .hero-iframe {
     position: absolute;
     top: 50%;
     left: 50%;
     width: 100vw;
     height: 100vh;
     transform: translate(-50%, -50%);
 }



 .launcher {
     border-radius: 5px;
     background: rgb(2, 0, 36);
     background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 62%, rgba(0, 212, 255, 1) 100%);
 }

 .launcher:hover {
     animation: grandent 1s;
     background: rgb(2, 0, 36);
     background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 13%, rgba(0, 212, 255, 1) 100%);
 }

 .loader {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 3;
     left: 0;
     top: 0;
     background-color: rgba(0, 0, 0, 0.9);
     overflow-x: hidden;
     transition: 1s;
 }

 .loader-content {
     position: relative;
     top: 25%;
     width: 100%;
     text-align: center;
     color: white;
 }

 .left_to_right {
     bottom: 3%;
     position: absolute;
     animation: linear infinite;
     animation-name: left_to_right;
     animation-duration: 5s;
 }




 .medpara {
     padding: 5%;
     font-size: 32px;
 }



 .midpage-iframe {
     align-items: center;
     padding: 5%;
 }

 .midpage-iframe-content {
     width: 50%;
     height: 500px;
 }

 .mobileNavDrop {
     display: none;
 }


 .qanda {
     padding: 5%;
     font-size: 32px;
 }

 .question {
     padding: 2%;
 }

 .qandadropdown .qheader {
     font-size: 32px;
     outline: none;
     color: #fff;
     padding: 20px;
     background-color: #50C878;
     font-family: inherit;
     margin: 0;
     width: 90%;
     transition: 0.2s;
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.466);
 }

 .qandadropdown:hover .qheader:hover {
     background-color: #555;
 }


 .qandadropdown:hover .awnserContent {
     color: black;
     font-size: 32px;
     padding: 5px;
 }

 .row::after {
     content: "";
     clear: both;
     display: table;
 }


 .sticky {
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 2;
 }

 .sticky-dropdown {
     position: fixed;
     top: 0;
     z-index: 1;
 }

 .sticky+.content {
     padding-top: 60px;
     padding-bottom: 0;
 }


 .service-check {
     background-color: #ddd;
     border: none;
     color: black;
     padding: 2.5%;
     cursor: pointer;
     font-size: 20px;
 }

 .sercvieUp {
     background-color: green;
     border: none;
     color: black;
     padding: 2.5%;
     cursor: pointer;
     font-size: 20px;
 }

 .serviceDown {
     background-color: red;
     border: none;
     color: black;
     padding: 2.5%;
     cursor: pointer;
     font-size: 20px;
 }

 .serviceMat {
     background-color: orange;
     border: none;
     color: black;
     padding: 2.5%;
     cursor: pointer;
     font-size: 20px;
 }

 .table {
     box-shadow: 0 8px 16px 0p rgba(0, 0, 0, 0.466);
 }

 .transitioncontainer {
     left: 0;
     top: 0;
     height: 100%;
     width: 100%;
     background-color: white;
     z-index: 4;
 }

 .table-container {
     padding: 5%;
     padding-bottom: 0;
     margin-left: 5%;
     margin-right: 5%;
 }

 .video-container {
     width: 100vw;
     height: 100vh;
 }


 #changelog_id {
     box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.603);
     width: 50%;
     margin-left: 25%;
     padding: 5px;
 }

 #scrolltotop {
     position: fixed;
     bottom: 20px;
     right: 30px;
     z-index: 99;
     font-size: 18px;
     border: none;
     outline: none;
     background-color: #50C878;
     color: white;
     cursor: pointer;
     padding: 15px;
     border-radius: 4px;
 }

 #scrolltotop:hover,
 .sercvieUp:hover,
 .service-check:hover,
 .serviceDown:hover,
 .serviceMat:hover {
     background-color: #555;
 }



 #titeltext {
     position: absolute;
     color: #FFFFFF;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
 }

 #tabelID {
     border-collapse: collapse;
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.466);
     display: block;
     font-size: 32px;
     overflow-x: scroll;
     overflow-y: hidden;
     width: 100%
 }

 #tabelID td,
 th {
     padding: 8px;
     border: 1px solid #555;
     border-radius: 0;
 }

 #tabelID tr:nth-child(even) {
     background-color: gray;
 }

 #tabelID tr:hover {
     background-color: #50C878;
 }

 #tabelID th {
     padding-top: 10px;
     padding-bottom: 10px;
     text-align: left;
     background-color: #50C878;
     color: white;
 }

 @keyframes grandent {
     from {
         background: rgb(2, 0, 36);
         background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 62%, rgba(0, 212, 255, 1) 100%);
     }

     to {
         background: rgb(2, 0, 36);
         background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 13%, rgba(0, 212, 255, 1) 100%);
     }
 }

 @keyframes tranistion-close {
     0% {
         clip-path: circle(50% at 50% var(--transition-vertical-pos));
     }

     100% {
         clip-path: circle(0% at 50% var(--transition-vertical-pos));
     }
 }

 @keyframes slidetop {
     from {
         top: -300px;
         opacity: 0
     }

     to {
         top: 0;
         opacity: 1
     }
 }

 @keyframes left_to_right {
     0% {
         left: 32.5%;
     }

     48% {
         -webkit-transform: rotateY(0deg);
     }

     50% {
         left: 65%;
         -webkit-transform: rotateY(180deg);
     }

     98% {
         -webkit-transform: rotateY(180deg);
     }

     100% {
         left: 32.5%;
         -webkit-transform: rotateY(0deg);
     }
 }

 @keyframes slideleft {
     from {
         left: -300px;
         opacity: 0
     }

     to {
         left: 0;
         opacity: 1
     }
 }

 @keyframes slideright {
     from {
         right: -300px;
         opacity: 0
     }

     to {
         right: 0;
         opacity: 1
     }
 }


 @keyframes slideright {
     from {
         right: -300px;
         opacity: 0
     }

     to {
         right: 0;
         opacity: 1
     }
 }



 @keyframes slidebottom {
     from {
         bottom: -300px;
         opacity: 0
     }

     to {
         bottom: 0;
         opacity: 1
     }
 }



 @keyframes slidezoom {
     from {
         transform: scale(0)
     }

     to {
         transform: scale(1)
     }
 }

 @media screen and (max-hieght: 800px) {
     .footer {
         position: static;
     }
 }

 @media screen and (max-width: 600px) {

     .Menu a:not(:first-child),
     .additionalLinksCSS,
     .additionalLinksCSSActive,
     .dropdown {
         display: none;
     }

     .downloadbtn {
         display: none;
     }

     .Menu a.icon {
         float: right;
         display: block;
     }

     .column {
         width: 100%;
         height: auto;
     }
 }

 @media screen and (max-width: 1000px) {
     .launcher {
         display: none !important;
     }
 }

 @media screen and (max-width: 600px) {

     #tabelID {
         padding: 0;
         left: 0;
     }

     .Menu.responsive .icon {
         position: absolute;
         right: 0;
         top: 0;
         z-index: 2;
     }

     .Menu.responsive a {
         float: none;
         display: block !important;
         text-align: left !important;
     }

     .Menu.responsive button {
         width: 100%;
         display: block;
         text-align: left;
     }

     .Menu.responsive {
        position: fixed;
        top: 0;
        width: 100%;
        float: none;
        display: block;
        text-align: left;
        position: relative;
     }

     .andrioddownloadbtn {
         display: block;
     }
 }